<div class="container-fluid">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <h3 class="panel-title" translate>{{'ProductForm'}} </h3> 
                        </div>
                        <div class="col-xs-4 col-xs-offset-2">
                            <a href="#!/" class="btn btn-info col-xs-12" translate>
                                {{'changeLanguage'}}
                            </a>
                        </div>
                    </div>                    
                </div>
                <div class="panel-body">                    
                    <div class="row">
                        <div class="col-xs-12">
                            <table class="table table-bordered">
                                <tr>
                                    <td translate>{{'codeProduct'}}</td>
                                    <td translate>{{'titleProduct'}}</td>
                                    <td translate>{{'descriptionProduct'}}</td>
                                    <td translate>{{'saveButton'}}</td>
                                    <td translate>{{'cancelButton'}}</td>
                                </tr>
                                <tr ng-repeat="product in products">
                                    <td width="20%">{{product.product_code}}</td>
                                    <td width="20%">{{product.information.title}}</td>
                                    <td width="30%">{{product.information.description}}</td>
                                    <td width="15%" translate><input ng-click="editProduct(product.product_code);" class="btn btn-info col-xs-12" value="{{'editButton'|translate}}"/></td>
                                    <!--<td width="15%" translate>
                                        <a href="#/product" class="btn btn-info col-xs-12">
                                            hhh
                                        </a>
                                    </td>-->
                                    <td width="15%" translate><input ng-click="deleteProduct(product);" class="btn btn-danger col-xs-12" value="{{'deleteButton'|translate}}"/></td>
                                </tr>
                            </table>
                            <br>
                            <table class="table table-bordered">
                                <tr>
                                    <td>
                                        <a href="#!/product" class="btn btn-info col-xs-12" translate>
                                            {{'Create'}}
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>                     
                </div>
            </div>
        </div>
    </div>   
</div>